
body{
    background: linear-gradient(45deg,#56ab2f,#a8e063);
}

.Contenido-G{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
}


.Box-Buttons{
    width: 260px;
    margin: 25px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #a8e063;
    border-radius: 20px;
}

.Btn-BB{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#BTN{
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: linear-gradient(to right, #24FE41,#FDFC47);
    border-radius: 20px;
    transition: .5s;
}

.Data-Login{
    top: 130px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-login{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.submit-login{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    background: linear-gradient(to right, #24FE41,#FDFC47);
    border: 0;
    outline: none;
    border-radius: 20px;
}

.Data-Register{
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}


.input-register{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.submit-register{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    background: linear-gradient(to right, #24FE41,#FDFC47);
    border: 0;
    outline: none;
    border-radius: 20px;
}

#LOGIN{
    left: 50px;
}

#REGISTER{
    left: 450px;
}


#Result-box{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14pt;
    color: white;
}